@import '../../root';

.gamePage {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightblue;
  touch-action: none;
}